header {
	text-align: center;
}

main {
	display: flex;
}

nav {
	width: 20%;
	font-size: 25px;
	margin-left: 10px;
}

label {
	display: block;
	margin-left: 12px;
}

#genreList {
	overflow: auto;
	max-height: 300px;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	height: 20px;
	width: 20px;
}
/* 
.book {
	width: 25em;

	display: flex;
	justify-content: center;
	margin: 1rem;

	border: 2px solid var(--border);
	border-radius: 1.5rem;
}
.author_name,
.book_title,
.more_info,
.descripttion {
	text-align: left;
	padding: 0;
	margin: 0;
}

.book_cover {
	height: 10em;
	margin: 0;
	padding: 0;
}

.book_title {
	font-size: 1.2em;
}

.author_name,
.descripttion,
.more_info {
	font-size: 0.8em;
	padding: 0.5em;
	word-break: break-all;
}

.results {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}

.selectBox {
	position: relative;
}

 .overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	cursor: pointer;
} 

#checkBoxes {
	position: absolute;
	display: none;
	width: 10em;

	background-color: var(--background);

	border: 1px solid var(--border);
	border-radius: 0.4em;
	background-color: white;
}

#checkBoxes label {
	position: absolute;
	margin: 0;

	left: 1em;
}

#checkBoxes input {
	padding: 0;
	margin: 5px;
	margin-right: 0;

	width: 0.7em;
	height: 0.7em;
}

form {
	display: flex;
	justify-content: center;
} */
