:root {
	--background: #f9fafb;
	--primary: #4f46e5;
	--accent: #0ea5e9;
	--text-primary: #111827;
	--text-secondary: #6b7280;
	--border: #e5e7eb;
}

* {
	font-family: Inter, sans-serif;
}

body {
	text-align: center;
	font-size: 2em;
}

input,
button,
select {
	border: 1px solid var(--border);
	border-radius: 0.4em;
	background-color: white;
	padding: 0.5em;
	margin: 0.2em;
	font-size: 0.9em;
	width: 11em;
}

.book {
	width: 25em;

	display: flex;
	justify-content: center;
	margin: 1rem;

	border: 2px solid var(--border);
	border-radius: 1.5rem;
}

.author_name,
.book_title,
.more_info,
.descripttion {
	text-align: left;
	padding: 0;
	margin: 0;
}

.book_cover {
	height: 10em;
	margin: 0;
	padding: 0;
}

.book_title {
	font-size: 1.2em;
}

.author_name,
.descripttion,
.more_info {
	font-size: 0.8em;
	padding: 0.5em;
	word-break: break-all;
}

a {
	text-decoration: none;
}

.results {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}

input[type="button"] {
	background-color: var(--primary);
	border: none;
	color: white;
}

select {
	appearance: none;
	background-image: url(images/down-arrow-svgrepo-com.svg);
	background-repeat: no-repeat;
	background-position: right 1rem top 50%;
	background-size: 1.5rem auto;
}

select:hover,
input[type="button"]:hover {
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #3e35d4;
}

form {
	display: flex;
	justify-content: center;
}

.selectBox {
	position: relative;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	cursor: pointer;
}
#checkBoxes {
	position: absolute;
	display: none;
	width: 10em;

	background-color: var(--background);

	border: 1px solid var(--border);
	border-radius: 0.4em;
	background-color: white;
}

#checkBoxes label {
	position: absolute;
	margin: 0;

	left: 1em;
}

#checkBoxes input {
	padding: 0;
	margin: 5px;
	margin-right: 0;

	width: 0.7em;
	height: 0.7em;
}
