:root {
	font-family: Inter, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--background: #f9fafb;
	--primary: #4f46e5;
	--accent: #0ea5e9;
	--text-primary: #111827;
	--text-secondary: #6b7280;
	--border: #e5e7eb;

	color: var(--text-primary);
	background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	font-weight: 500;
	color: #272c8b;
	text-decoration: inherit;
}

a:hover {
	color: #161b7a;
}

body {
	margin: 0;
	font-size: 2em;
}

input {
	border: 1px solid var(--border);
	border-radius: 16px;
	background-color: white;
	padding: 8px;
	margin: 8px;
	font-size: 1em;
}

input[type="button"] {
	background-color: var(--primary);
	border: none;
	color: white;
}

input::placeholder {
	color: var(--text-secondary);
}

select:hover,
input[type="button"]:hover,
input[type="checkbox"]:hover {
	cursor: pointer;
}
